<nav class="navbar bottom-nav">
  <div class="container d-flex justify-content-around">
      <a class="nav-link <%= currentPage === 'schedule' ? 'active' : '' %>" href="/schedule">
          <img src="/image/calendar-week.svg" alt="불꽃 일정" /> 
          <span>불꽃 일정</span>
      </a>
      <a class="nav-link <%= currentPage === 'match-record' ? 'active' : '' %>" href="/match-record">
          <img src="/image/free-icon-tennis-8122941.png" alt="경기 기록" /> 
          <span>경기 기록</span>
      </a>
      <a class="nav-link <%= currentPage === 'my-score' ? 'active' : '' %>" href="/my-score">
          <img src="/image/free-icon-individual-11985530.png" alt="개인 스코어" /> 
          <span>개인 스코어</span>
      </a>
      <a class="nav-link <%= currentPage === 'chemistry-score' ? 'active' : '' %>" href="/chemistry-score">
          <img src="/image/free-icon-people-2118701.png" alt="케미 스코어" /> 
          <span>케미 스코어</span>
      </a>
      <a class="nav-link <%= currentPage === 'chemistry' ? 'active' : '' %>" href="/chemistry">
          <img src="/image/person-heart.svg" alt="상대와 케미" /> 
          <span>상대와 케미</span>
      </a>
  </div>
</nav>